[Unit]
Description=nginx

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm \
                               -p 80:80 \
                               --link kibana:kibana \
                               --link elasticsearch:elasticsearch \
                               -v /home/core/nginx/nginx.conf:/etc/nginx/nginx.conf \
                               -v /home/core/nginx/.htpasswd:/etc/nginx/.htpasswd \
                               --name nginx \
                               nginx:latest
ExecStop=/usr/bin/docker kill nginx

[X-Fleet]
X-Conflicts=nginx.service